@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    box-sizing: border-box;
   
}

body{
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
     font-family: 'Roboto', 'sans-serif';
     margin: 0;
     display:flex; /* makes items horizontal  */ 
     align-items: center; /* if flex-direction is in column, will align horizontally, if row it will align vertically */
     justify-content: center; /* does not move to center of page without height */
     height: 100vh; /* viewport height, take up entire height of page */ 
     overflow: hidden; /* hidden to not show scroll bars by default */
}

.search{
    position: relative;
    height: 50px;
}
.search .input{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
}

.btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}

btn:focus, input:focus{
    outline: none;
}

.search.active .input{
    width: 200px;
}

.search.active .btn{
    transform: translateX(198px);
}