@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    box-sizing: border-box;
   
}

body{
     font-family: 'Roboto', 'sans-serif';
     margin: 0;
     display:flex; /* makes items horizontal  */ 
     flex-direction: column; /* moves box to be like a column, vertically */
     align-items: center; /* if flex-direction is in column, will align horizontally, if row it will align vertically */
     justify-content: center; /* does not move to center of page without height */
     height: 100vh; /* viewport height, take up entire height of page */ 
     overflow: hidden; /* hidden to not show scroll bars by default */
}