@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* custom css properties*/
:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
  }

  * {
    box-sizing: border-box;
   
}

body{
     background-color: #f6f7fb;
     font-family: 'Muli', 'sans-serif';
     margin: 0;
     display:flex; /* makes items horizontal  */ 
     align-items: center; /* if flex-direction is in column, will align horizontally, if row it will align vertically */
     justify-content: center; /* does not move to center of page without height */
     height: 100vh; /* viewport height, take up entire height of page */ 
     overflow: hidden; /* hidden to not show scroll bars by default */
}

.container{
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
  }

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
  }

  .progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
  }

.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
}

.btn{
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}